* {
  box-sizing:border-box;
}

.item-info {
  font-size:10px;
  line-height:1.5;
}

.intro {
  font-size:42px;
  text-align:center;
  padding:1em 0;
  font-family:georgia!important;
  font-weight:100;
}

article {
  width:25%;
  float:left;
  margin:0 !important;
  border:0;
  padding:2em;
  text-align:center;
  background-color:pink;
  height:24em;
}

article > h1 {
  margin:0 0 .125em 0;
  font-size:256px;
  line-height:1;
  font-weight:bold;
}
