.§ {
  background:#EA2E49;
}

.° {
 background:#DAEDE2;
}

.© {
  background:#7ECEFD;
}

.« {
  background:#FCFFF5;
}

.π {
  background:lighten(#314159,3.14%);
}

.☀ {
  background-color:gold;
}

.⏣ {
  background-color:#00E398;
}

.☠ {
 background-color:#FF8E0D;
}

.☢ {
background-color:#7E8AA2;
}

.☣ {
 background-color:#FF007D; 
}

.⚛ {
 background-color:#17CCAB; 
}

.☃  {
  background:#5a5a5a;
}

.⌬ {
  background-color:lighten(#7ECEFD,10%);
}
